torch>=2.0.0
transformers>=4.30.0
runpod>=1.0.0
numpy>=1.22.0
fastapi>=0.100.0
uvicorn>=0.23.0
httpx>=0.24.0
pydantic==2.11.4
pydantic_core==2.33.2
google-api-core==2.24.2
google-auth==2.40.1
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
supabase==2.15.1
striprtf==0.0.29
reportlab==4.4.1
optimum==1.25.3
onnxruntime-gpu==1.19.2
